/* =====================
        Base Styles
   =====================
*/

* {
    box-sizing: border-box;
}

ul {
    padding: inherit;
}

body {
    margin: 0 auto;
    background: #fff;
    font-family: 'Nunito', sans-serif;
    max-width: 1920px;
}

li {
    list-style-type: none;
}


footer {
    margin-top: 20px;
}

form {
    margin: 40px 40px 0 40px;
    padding-top: 10px;
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06);
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    color: #1F4373;
    font-weight: bold;
    margin: 15px 0;
    font-size: 1.1em;
}

h2 {
    text-align: center;
    color: #1F4373;
}

span {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    border-radius: 5px;
    background: #eff0f1;
    padding: 10px 5px;
    width: 100%;
    margin: 15px 0;
    border: none;
    height: 50px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3) inset,
        -1px -1px 0 rgba(0, 0, 0, 0.3) inset;
    transition: 0.4s;

}

textarea {
    border-radius: 5px;
    background: #eff0f1;
    width: 100%;
    padding: 5px;
    margin: 15px 0;
    border: none;
    height: 150px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3) inset,
        -1px -1px 0 rgba(0, 0, 0, 0.3) inset;
    transition: 0.4s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border: 2px solid #193773;
    outline: none;
    background: #fff;
}

::placeholder {
    color: #BFADA8;
    font-size: 0.9em;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    text-align: right;
    padding-right: 10px;
}

select:required:invalid {
    color: #BFADA8;
    font-size: 0.9em;
}

select:required:invalid:focus {
    color: transparent;
}

option:not(:first-of-type) {
    color: black;
}

option[value=""][disabled] {
    display: none;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
    font-weight: bold;
}


label {
    display: block;
}

label,
#receive,
#news-format {
    color: #505552;
}



.label {
    display: inline-block;
    margin-bottom: 10px
}

#select {
    color: red;
}

#contact-info {
    margin-top: 20px;
}

#topics {
    margin-top: 15px;
}

#receive {
    margin: 0 0 15px 0;
}

#news-format {
    margin: 15px 0;
}

#newsletter input {
    margin: 0 5px;
}

#btn {
    text-align: center;
    width: 100%;
    background: #4ebbb5;
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: 1.25em;
    transition: 0.1s;
    outline: none;
}

#btn:active {
    background: tomato;
    transform: scale(0.99);
    outline: none;
}

#zipcode {
    width: 30%;
}

#main-header {
    width: 100%;
    color: #fff;
    background: #193773;
    margin: 0;
    padding: 30px;
    text-align: center;
}

/* ============
       Misc
   ============
                */

.news-text {
    padding: 10px 0;
}

#copyright {
    font-style: italic;
    font-weight: bold;
    padding-bottom: 10px;
}

.align {
    text-align: center;
    color: #BFADA8;
}

.top-border {
    margin-top: 40px;
    border: solid 2px #73605C;
}

.middle-border {
    border: solid 2px #73605C;
    margin: 20px 0;
}

.bottom-border {
    border: solid 1px #73605C;
    margin-top: 3px;
    margin-bottom: 15px;
}

/* =====================
       Media Query
   =====================
                        */

@media (min-width: 768px) {

    .contact-info li {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    fieldset {
        min-width: 0;
        min-height: 0;
        overflow: hidden;
    }

    form {
        margin: 40px 25%;
    }

    .contact-info > li > label {
        flex: 0.5 75px;
    }

    .contact-info > li > label + * {
        flex: 1 200px;
    }
}
